STRAICO_API_KEY=yourkeys
FRED_API_KEY=yourkeys
PHAROS_PRIVATE_KEY=
AGENTFOS_CONTRACT_ADDRESS=
PHAROS_RPC_URL=https://atlantic.dplabs-internal.com
export DEPLOYER=$(cast wallet address --private-key $PRIVATE_KEY)