# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project files
.DS_Store
*.log
node_modules/
.next/

# Foundry build artifacts
cache/
out/
broadcast/
